<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>article</title>
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body style="padding-top: 70px">
<div class="container-fluid"><!-- container -->
    <div th:include="/client/head :: copy"></div><!--导航栏-->
    <div class="container"><!--主要内容-->
        <div class="col-sm-9">
            <div class="panel"><!--显示文章-->
                <h3 class="panel-heading" th:utext="${article.title}">
                </h3>
                <p class="header"></p>
                <div class="panel-body" th:utext="${article.content}">
                </div>

            </div>
            <div>
                <p class="page-header">评论</p>
                <form action="/article/addComment" method="post">
                    <input type="hidden" name="article.id" th:value="${article.id}">
                    <textarea id="content" name="content" class="form-control" rows="5"
                              style="max-width: 790px;"></textarea>
                    <br/>
                    <input class="btn btn-default" type="submit" value="提交">
                </form>
            </div>

            <div class="media" th:each="comment: ${ article.comments }">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" th:src="@{/images/logo-jhipster.png}" alt="...">
                    </a>
                </div>

                <div class="media-body">
                    <div class="well well-lg">
                        <h4 class="media-heading" th:if="${ comment.auser !=null }"><span th:text="${ comment.date }">
                          </span>&nbsp;回复：<span th:text="${ comment.quser.uname }"></span>
                        </h4>
                        <h4 class="media-heading" th:if="${ comment.auser ==null }">
                            <span th:text="${ comment.date }"></span>&nbsp;评论
                        </h4>
                        <span th:text="${ comment.content }"></span>
                    </div>
                    <button type="button" id="backButton" class="btn btn-default"
                            data-toggle="modal" data-target="#myModal"
                            th:onclick="'javascript:backButton(\''+${article.id}+'\',\''+${comment.quser.id}+'\',\''+${comment.quser.uname}+'\',\''+${comment.id}+'\');'">
                        回复
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <form id="commentBackForm" action="/article/backComment" method="post">
                            <input type="hidden" id="atrid" name="article.id" class="form-control">
                            <input type="hidden" id="commentid" name="id" class="form-control">
                            <input type="hidden" id="querid" name="quser.id" class="form-control">
                            <textarea name="content" class="form-control" rows="5" style="max-width: 790px;"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="save()">保存回复</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div th:include="/client/right :: copy"></div><!--右侧导航栏-->
        </div>
    </div><!--/主要内容-->

    <div class="container-fluid footer "><!--底部-->
        <p class="text-center" style="padding: 18px">CopyRight@copy2018</p>
    </div><!--/底部-->

</div> <!-- /container -->

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
    function backButton(articleId, qid, quname, commentid) {
        $("#atrid").val(articleId);
        $("#querid").val(qid);
        $("#myModalLabel").text("评论回复：" + quname);
        $("#commentid").val(commentid);
    }

    function save() {
        $("#commentBackForm").submit();
    }
</script>
</body>
</html>