<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy"><!--导航栏-->
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">响应式切换导航栏</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/blog/index">LiYuan<span class=" glyphicon glyphicon-heart"></span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-btn" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-pills navbar-left">
                        <li class="active"><a href="/blog/index">首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/blog/gallerys">个人相册</a></li>
                        <li class="dropdown" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false" >技术杂谈 <span class="caret"></span></a>
                            <ul class="dropdown-menu" >
                                <span th:each="categories:${categories}">
                                <li> <a th:href="@{'/blog/showCategory/'+${categories.id}}"><span th:utext="${categories.name}"></span></a> </li>
                                </span>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-pills navbar-right" style="padding-top: 13px;padding-right: 40px">
<!--                        <li><a href="#" th:text="${session.user.uname}">登录</a></li>
                        <li><a href="#">注册</a></li>-->
                        <span th:if="${session.user!=null }">
                                <li><a href="#" th:text="${session.user.uname}"></a>
                                <a th:href="@{/user/logout}">退出</a></li>
                            </span>
                        <span th:if="${session.user==null }">
                                <li><a th:href="@{/blog/loginForm}">登录</a>
                                <a th:href="@{/blog/register}">注册</a></li>
                            </span>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div><!--/导航栏-->
</body>
</html>