<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="copy" class="news"><!--右侧导航栏-->
        <h3>
            <p>推荐<span>文章</span></p>
        </h3>
        <ul class="rank">
            <li><a href="#">李媛的个人博客啦啦</a></li>
            <li><a href="#">李媛的个人博客啦啦</a></li>
            <li><a href="#">李媛的个人博客啦啦</a></li>
            <li><a href="#">李媛的个人博客啦啦</a></li>
            <li><a href="#">李媛的个人博客啦啦</a></li>
        </ul>
        <h3 class="ph">
            <p>个人<span>相册</span></p>
        </h3>
        <ul>
            <figure><img th:src="@{/images/cam.jpg}" class="img-responsive img-thumbnail"></figure>
        </ul>
        <h3>
            <p>友情<span>链接</span></p>
        </h3>
        <ul class="rank" th:each="link:${links}">
            <li><a th:href="${link.url}"><span th:text="${link.name}"></span></a></li>
        </ul>
        <h3>
            <p>请<span>关注我</span></p>
        </h3>
        <ul>
            <figure><img th:src="@{/images/weixin.jpg}" class="img-responsive img-thumbnail"></figure>
        </ul>
    </div><!--/右侧导航栏-->
</body>
</html>